#code-block
{
    height: 500px;
    width: 100%;
    resize: none;
}

#code-block:focus
{
    outline: none;
}

#format-btn,
#format-copy-btn
{
    margin: 5px;
    background: none;
    border: 1px solid black;
    color: black;
}

.rl-col
{
    padding-left: 0px;
    padding-right: 0px;
}

#alert-copied-to-clipboard
{
    position: fixed;
    text-align: center;
    top: 33.3vh;
    left: 0;
    right: 0;
    padding: 35px;
    background-color: black;
    color: white;
    font-weight: 300;
}
