#code-block
{
    height: 500px;
    width: 100%;
    resize: none;
}

#code-block:focus
{
    outline: none;
}

#format-btn,
#format-copy-btn
{
    margin-top: 5px;
    margin-left: 5px;
    background: none;
    border: 1px solid black;
    color: black;
}

.rl-col
{
    padding-left: 0px;
    padding-right: 0px;
}
